@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-dk: #104810;
  --primary-lg: #4c954c;
  --light: #eee;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.section-2 {
  z-index: 50;
}

.section-wrapper {
  width: inherit;
  height: inherit;
}

.section-1-wrapper {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6)),
    url(images/sec-1.jpg) center no-repeat;
  background-size: cover;
}

.section-1-heading-wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-1-heading {
  font-size: 10rem;
  font-weight: 500;
  color: var(--light);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-bottom: 0.2rem solid var(--primary-lg);
  text-align: right;
  user-select: none;
}

.section-2-wrapper {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)),
    url(images/sec-2.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale-bag {
  opacity: 0.9;
  width: 24rem;
}

.sale-btn {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--primary-lg);
  background-color: transparent;
  border: 0.1rem solid var(--primary-lg);
  border-radius: 0.5rem;
  margin-top: 4rem; 
  transition: all 0.5s ease-in;
}

.sale-btn:hover {
  border: 0.1rem solid var(--light);
  color: var(--light);
}

.wine-bottle {
  opacity: 0.6;
  width: 80rem;
}



@media (max-width: 1600px) {
  .sale-bag {
    width: 35rem;
  }
  .wine-bottle {
    width: 65rem;
  }
}

@media (max-width: 1300px) {
  .sale-bag {
    width: 30rem;
  }
  .wine-bottle {
    width: 60rem;
  }
}

@media (max-width: 1200px) {
  .section-1-heading-wrapper {
    width: 80%;
  }
  .section-1-heading {
    font-size: 8rem;
  }
  .sale-bag {
    width: 25rem;
  }
  .sale-btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.7rem;
  }
  .wine-bottle {
    width: 50rem;
  }
}

@media (max-width: 1000px) {
  .section-2-wrapper {
    flex-direction: column;
  }
  .sale {
    order: 1;
  }
}

@media (max-width: 800px) {
  .section-1-heading {
    font-size: 6rem;
  }
  .sales-bag {
    width: 20rem;
  }
  .wine-bottle {
    width: 40rem;
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 4rem;
  }
  .sale-bag {
    width: 15rem;
  }
  .wine-bottle {
    width: 30rem;
  }
  .sale-btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
}


























